<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="apiSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="apiSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.carimagery.com/api.asmx" binding="basicHttpBinding"
                bindingConfiguration="apiSoap" contract="CarImagery.apiSoap"
                name="apiSoap" />
            <endpoint address="http://www.carimagery.com/api.asmx" binding="customBinding"
                bindingConfiguration="apiSoap12" contract="CarImagery.apiSoap"
                name="apiSoap12" />
        </client>
    </system.serviceModel>
</configuration>